@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a[disabled] {
	pointer-events: none;
}

input {
	appearance: none;
	outline: none;
}

body {
	background: #333333;
	line-height: 1.6;
}

button {
	padding: 0;
	font: inherit;
	background: none;
	border: none;
	outline: inherit;
	cursor: pointer;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
